:root {
  --c-bg: white;
  --c-bg-light: #f3f4f5;
  --c-bg-lighter: #eeeeee;
  --c-bg-dark: #ebebec;
  --c-bg-darker: #e6e6e6;
  --c-text: #2c3e50;
  --c-text-light: #6a8bad;
  --c-accent: #0969da;
  --c-success: #3eaf7c;
  --c-success-light: #4abf8a;
  --c-success-lighter: #53c58e;
  --c-danger: #f11e37;
  --c-bg-danger: #ffe0e0;
  --c-bg-danger-light: #ffcfde;

  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", "Andale Mono", "Ubuntu Mono", monospace;
}

body.dark {
  --c-bg: #1e1e1e;
  --c-bg-light: #2b313a;
  --c-bg-lighter: #262c34;
  --c-bg-dark: #343b44;
  --c-bg-darker: #37404c;
  --c-text: #adbac7;
  --c-text-light: #8094a8;
  --c-accent: #2f81f7;
  --c-success: #3aa675;
  --c-success-light: #349469;
  --c-success-lighter: #2f7e5d;
  --c-danger: #fc1e38;
  --c-bg-danger: #39232c;
  --c-bg-danger-light: #4b2b35;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  min-width: 0;
}

button,
textarea {
  all: unset;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#app {
  width: calc(max(400px, 100vw));
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--c-bg);
  color: var(--c-text);
  user-select: none;

  --build-panel-height: 40%;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--c-text);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#editor {
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;

  &:has(.loader) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
  &:has(.loader)::after {
    content: "Loading Monaco Editor";
    color: var(--c-text-light);
  }
}

#buildPanel {
  width: 100%;
  max-height: calc(100% - 50px);
  min-height: 0;
  flex-grow: 0;
  overflow: auto;
  flex-basis: var(--build-panel-height);
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

#buildPanelResize {
  flex-basis: 0.5em;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--c-bg-darker);
  cursor: row-resize;
}

#buildPanelBody {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.5em 1em;
  display: flex;
  gap: 0.5em;
  min-height: 0;
  flex-direction: column;

  button {
    --btn-color: var(--c-bg);
    --btn-text-color: var(--c-text);
    --btn-border-color: var(--c-bg-darker);
    --btn-hover-color: var(--c-bg-light);
    --btn-active-color: var(--c-bg-lighter);
    cursor: pointer;
    padding: 0.5em 1em;
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border: 2px solid var(--btn-border-color);
    border-radius: 0.5em;
    display: inline-flex;
    align-items: center;
    gap: 0.25em;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
      border-color 0.2s ease-in-out;
  }
  button:hover:not([disabled], .disabled, :disabled) {
    color: var(--btn-text-hover-color, var(--btn-text-color));
    background-color: var(--btn-hover-color);
    border-color: var(--btn-border-hover-color, var(--btn-border-color));
  }
  button:is([active], .active, :active):not([disabled], .disabled, :disabled) {
    color: var(--btn-text-active-color, var(--btn-text-color));
    background-color: var(--btn-active-color);
  }
  button:is([disabled], .disabled, :disabled) {
    opacity: 70%;
    cursor: not-allowed;
  }

  button.success {
    --btn-color: var(--c-success);
    --btn-text-color: var(--c-bg);
    --btn-border-color: var(--c-success);
    --btn-hover-color: var(--c-success-light);
    --btn-border-hover-color: var(--c-success-light);
    --btn-active-color: var(--c-success-lighter);
  }

  button.danger {
    --btn-color: var(--c-bg-danger);
    --btn-text-color: var(--c-danger);
    --btn-border-color: var(--c-bg-danger);
    --btn-hover-color: var(--c-bg-danger-light);
    --btn-border-hover-color: var(--c-bg-danger-light);
    --btn-active-color: var(--c-danger);
    --btn-text-active-color: var(--c-bg);
  }

  .button-group {
    min-width: 0;
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;

    button:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    button:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-width: 0px;
    }
    button:not(:first-child):not(:last-child) {
      border-radius: 0;
      border-left-width: 0px;
    }
    button[active] {
      pointer-events: none;
    }
  }

  .io {
    margin: 0;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: var(--c-bg-light);
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-family: var(--font-monospace);
    overflow: auto;
    user-select: text;
  }

  hr {
    border-color: var(--c-bg-lighter);
  }
}

.spacer {
  flex-grow: 1;
  flex-shrink: 1;
}

#buildPanelHeader {
  display: flex;
  flex-direction: row;
  gap: 1em;

  button {
    flex-shrink: 0;
  }
}

#footer {
  flex-basis: 1.5em;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  font-size: 0.8em;
  background-color: var(--c-bg-light);

  button {
    cursor: pointer;
    padding: 0 0.5em;
    background-color: inherit;
  }
  button:hover {
    background-color: var(--c-bg-dark);
  }
  button:active {
    background-color: var(--c-bg-darker);
  }
}

#status {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 0.5em;
  --progress-value: 0;
  --progress-max: 1;
  --tooltip-text: "Clangd is loading";

  &[data-ready] {
    --tooltip-text: "Clangd is ready";
  }
  &[data-disabled] {
    --tooltip-text: "Clangd is disabled";
  }
}

#progress {
  width: 8em;
  padding: 0 0.5em;
  margin: auto;
}
[data-ready] #progress {
  display: none;
}
[data-disabled] #progress {
  display: none;
}

.progress-bar {
  height: 0.5em;
  background-color: var(--c-bg);
  border-radius: 0.25em;
  position: relative;
}
.progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: block;
  background-color: var(--c-accent);
  border-radius: 0.25em;
  --width: calc(var(--progress-value, 0) / var(--progress-max, 1) * 100%);
  width: var(--width, 0);
  transition: left width 0.3s ease-in-out;
}
[data-indeterminate] .progress-bar::before {
  --width: 33%;
  animation: progress-bar-indeterminate 2s ease-in-out infinite;
}
@keyframes progress-bar-indeterminate {
  0% {
    left: 0%;
  }
  50% {
    left: calc(100% - var(--width, 0));
  }
  100% {
    left: 0%;
  }
}

a {
  color: var(--c-accent);
  text-decoration: none;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon-loading {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-width='2'%3E%3Cpath stroke-dasharray='60' stroke-dashoffset='60' stroke-opacity='.3' d='M12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3Z'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='1.3s' values='60;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='15' stroke-dashoffset='15' d='M12 3C16.9706 3 21 7.02944 21 12'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.3s' values='15;0'/%3E%3CanimateTransform attributeName='transform' dur='1.5s' repeatCount='indefinite' type='rotate' values='0 12 12;360 12 12'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}
[data-ready] .icon-loading {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='m9.55 18l-5.7-5.7l1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}
[data-disabled] .icon-loading {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M1 21L12 2l11 19zm3.45-2h15.1L12 6zM12 18q.425 0 .713-.288T13 17q0-.425-.288-.712T12 16q-.425 0-.712.288T11 17q0 .425.288.713T12 18m-1-3h2v-5h-2zm1-2.5'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}
.icon-run {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M8 19V5l11 7z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}
.icon-close {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}
.icon-toggle-theme {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M12 15q1.25 0 2.125-.875T15 12q0-1.25-.875-2.125T12 9q-1.25 0-2.125.875T9 12q0 1.25.875 2.125T12 15m0 2q-2.075 0-3.537-1.463T7 12q0-2.075 1.463-3.537T12 7q2.075 0 3.538 1.463T17 12q0 2.075-1.463 3.538T12 17m-7-4H1v-2h4zm18 0h-4v-2h4zM11 5V1h2v4zm0 18v-4h2v4zM6.4 7.75L3.875 5.325L5.3 3.85l2.4 2.5zm12.3 12.4l-2.425-2.525L17.6 16.25l2.525 2.425zM16.25 6.4l2.425-2.525L20.15 5.3l-2.5 2.4zM3.85 18.7l2.525-2.425L7.75 17.6l-2.425 2.525zM12 12'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}
.dark .icon-toggle-theme {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M12 21q-3.75 0-6.375-2.625T3 12q0-3.75 2.625-6.375T12 3q.35 0 .688.025t.662.075q-1.025.725-1.638 1.888T11.1 7.5q0 2.25 1.575 3.825T16.5 12.9q1.375 0 2.525-.613T20.9 10.65q.05.325.075.662T21 12q0 3.75-2.625 6.375T12 21'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}
.icon-github {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33c.85 0 1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1.2em;
  height: 1.2em;
}

.display-none {
  display: none !important;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  visibility: hidden;
  display: block;
  content: var(--tooltip-text, attr(data-tooltip));
  position: absolute;
  top: -0.5em;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 0.5em 1em;
  background-color: var(--c-bg-dark);
  color: var(--c-text);
  border-radius: 0.5em;
  font-size: 0.8em;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 20;
}

[data-tooltip]:hover::after {
  visibility: visible;
  opacity: 1;
}

[data-tooltip][data-tooltip-left]::after {
  left: 0%;
  transform: translate(0%, -100%);
}
[data-tooltip][data-tooltip-right]::after {
  left: 100%;
  transform: translate(-100%, -100%);
}
